body {
    background-color:#22356e;
    font-family: "Fredoka", system-ui;
}
.navbar {
    background-color: #22356e;
    font-size:1.3rem;
}

.nav-item .nav-link:hover{
    color: #fff;
}
 .nav-link.active{
    color: #22356e;
}

.navbar-brand{
    color: #FFEB00 !important; 
}

.navbar-brand, .nav-link {
    color: #FFEB00 ;
    font-weight:800;
    font-size:1.4rem;
}

section{
    height:600px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    color:#FFEB00;
}
.card {
    margin-bottom: 30px;
}
footer {
    background-color: #22356e;
    color: #f3d375;
    text-align: center;
    padding: 15px ;
    margin-top: 10px;
}

footer p {
    font-weight: 600;
}

footer p a:hover{
    color: white;
}

.text-center{
    color:#FFEB00;
}

.image-container {
    position: relative;
    width: 250px; 
    height: auto; 
    margin: 0 auto; 
    border : 3px solid black;
    box-shadow:7px 7px black;
    margin-bottom : 15px;
}


.img-fill {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
} 

.custom-btn {
    background-color: #FFEB00;
    padding:1rem;
    margin-top: 1rem;
    box-shadow: 7px 7px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
    border:3px solid black;
}

.custom-btn:hover {
    box-shadow:7px 7px #22356e;
    transform: translate(5px,5px);
    background-color:#FFEB00 ;
    color:black;
    border:3px solid black;
}

#about .card-body{
    background-color:#c1bedf;
}


#lensify-id {
    background-color: #FFD966;
}

#nexcent-id {
    background-color: #F5F7FA;
}


#about .card {

    border-radius: 0;
    border: 3px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
}

#about .card-text{
    font-size:1.2rem;
}


#lensify-btn {
    background-color: #F1F7B5;
    padding:1rem;
    margin-top: 1rem;
    box-shadow: 7px 7px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
    width:150px;
    border:3px solid black
}

#lensify-btn:hover {
    box-shadow:7px 7px #FFD966;
    transform: translate(5px,5px);
    background-color:#F1F7B5 ;
    color:black;
    border:3px solid black
}

#nexcent-btn {
    background-color: #43A046;
    padding:1rem;
    margin-top: 1rem;
    box-shadow: 7px 7px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
    width:150px;
    border:3px solid black
}

#nexcent-btn:hover {
    box-shadow:7px 7px #F5F7FA;
    transform: translate(5px,5px);
    background-color:#43A046 ;
    color:black;
    border:3px solid black
}

#lensify-img {
    width: 100%; 
    height: auto; 
    border-radius: 0; 
    transition: transform 0.3s ease; 
    background-color:#FFD966;
    object-fit:cover;
}

#lensify-img:hover {
    transform: scale(1.05); 
}

#nexcent-img {
    width: 100%;
    height: auto; 
    border-radius: 0; 
    transition: transform 0.3s ease; 
    background-color:#F5F7FA;
    object-fit:cover;
}

#nexcent-img:hover {
    transform: scale(1.05); 
}

#projects .card:nth-child(2){
    border-radius: 0;
    border: 3px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
}


#projects .card-title{
    font-size: 1.4rem;
    font-weight:600;
}


#projects .card:nth-child(3){
    border-radius: 0;
    border: 3px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
}

#contact .card{
    border-radius: 0;
    border: 3px solid black;
    margin-top: 1rem;
    box-shadow: 10px 10px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
    height: 60vh;
    
}

#contact .card-body{
    background-color: #b1deee;
    padding:3rem;
}

.form-control {
   
    border: 2px solid black; 
    height: auto;
}


.form-control input {

    outline: none; 
    border:none
}


input:focus, textarea:focus {
    border-color: #b1deee; 
    outline: none;          
    box-shadow: 10px 10px rgba(30, 144, 255, 0.5); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}



.btn-primary {
    background-color: #54b6c5;
    padding:1rem;
    margin-top: 1rem;
    box-shadow: 7px 7px  black;
    transition: 150ms;
    border-radius:0;
    color: black;
    font-weight:600;
    width:150px;
    border:3px solid black;       
    cursor: pointer;          
}

.btn-primary:hover {
    box-shadow:7px 7px #b1deee;
    transform: translate(5px,5px);
    background-color:#54b6c5 ;
    color:black;
    border:3px solid black
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFEB00;
    text-decoration: none;
    padding: 0.7rem;
    box-shadow: 7px 7px  black;
    border:3px solid black; 
    border-radius: 0;
    transition: 150ms;
    color: black;
}

.back-to-top:hover{
    box-shadow:7px 7px #22356e;
    transform: translate(5px,5px);
    background-color:#FFEB00 ;
    color:black;
    border:3px solid black
}












